#root{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  padding-top: 33px;
  text-align: center; */
  
  /* width: 100%;
  height: 100%; */
}

/*
.App-header {
  background-color: #45c7ee;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
/* 
.header  {
  background-color: #45c7ee;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  padding: 10px;
} */

.App-footer {
  height: 50px;
    background: rgb(255,93,143);
    background: -moz-linear-gradient(90deg, rgba(255,93,143,1) 0%, rgba(87,190,247,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,93,143,1) 0%, rgba(87,190,247,1) 100%);
    background: linear-gradient(90deg, rgba(255,93,143,1) 0%, rgba(87,190,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5d8f",endColorstr="#57bef7",GradientType=1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  /* padding: 0.857rem; */
}


/* .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
}

.container{
  height: 42px;
  position: relative;
} */

/* .App-footer a {
  text-decoration: none;
  font-size: 18px;
  color: white;
} */



html,
body,
#root,
.App{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}
/* HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #3913b8;
  font-weight: 600;
  text-decoration: none;
} */

